body{
  font-family: "Lucida Sans Unicode";
  text-align: center;
}

header{
  background-image: linear-gradient(to right, white , #585858);
}

header img{
  width: 200px;
}

h1{
    color: #F39119;
    font-size: 500%;
}

.titulo{
  background-color: black;
  opacity: 70%;
  color: white;
  font-size: 10px
}

.subtitulo{
  color: #F39119
}

.container{
  height: 100vh;
  background-image: url("Imagenes/fitness-home-gray.png");
  background-position: center;
  background-size: cover;
  padding-top: 5%;
}

.formulario{
  height: 100%;
}

@media (min-width: 600px) {

  body{
    background-image: url("Imagenes/fitness-home-gray.png");
    background-position: center;
    background-size: cover;
  }

  header img{
    width: 100px
  }

.titulo p{
  font-size: 30px
}

}
