body{
  font-family: "Lucida Sans Unicode";
  text-align: center;
  height: 100vh;
  margin: 0;
  padding: 0
}

header{
  background-image: linear-gradient(to right, white , #585858);
  font-family: "Corbel";
  font-style: italic;
}

header img{
  width: 250px;
}

nav a{
  color: #D68930;
  font-size: 30px
}

nav a:hover{
  color: white
}

h1{
    color: #F39119;
    font-size: 500%;
}

.container{
  background-image: url("Imagenes/fitness-home-gray.png");
  background-position: center;
  background-size: cover;
  padding-top: 1%;
  height: 100vh
}


footer{
  background-image: url("Imagenes/MM_TEXTURA.png");
  background-color: lightgray;
  color: black;
  font-weight: bold;
}

footer img{
  width: 150px;
}

.contacto img{
  width: 50px
}

.contacto{
  padding-left: 50px;
  padding-top: 20px
}

.socialmedia img{
  width: 100px
}

#IG{
  width: 200px
}

iframe{
  width: 300px;
  height: 1300px
}


@media (min-width: 600px) {

  body{
    background-image: url("Imagenes/fitness-home-gray.png");
    background-position: center;
    background-size: cover;
  }

  header img{
    width: 100px
  }

  footer img{
    width: 150px;
  }

  nav a{
    font-size: 22px
  }

  iframe{
    width: 1000px;
    height: 1300px
  }


}
