body{
  font-family: "Lucida Sans Unicode";
  text-align: center;
  height: 100vh;
  margin: 0;
  padding: 0
}

header{
  background-image: linear-gradient(to right, white , #585858);
}

header img{
  width: 200px;
}

h1{
    color: #F39119;
    font-size: 500%;
}

h2{
  color: white;
}

h3{
  color: #F39119;
}

.titulo{
  background-color: black;
  opacity: 70%;
}

.subtitulo{
  background-color: black;
  opacity: 70%;
}

.container{
  background-image: url("Imagenes/fitness-home-gray.png");
  background-position: center;
  background-size: cover;
  padding-top: 5%;
}

.formulario{
  height: 100%;
}

footer{
  background-color: lightgray;
  color: black;
}

footer img{
  width: 150px;
}

.contacto img{
  width: 50px
}

.contacto{
  padding-left: 50px;
  padding-top: 20px
}

.socialmedia img{
  width: 100px
}

#IG{
  width: 200px
}


@media (min-width: 600px) {

  body{
    background-image: url("Imagenes/fitness-home-gray.png");
    background-position: center;
    background-size: cover;
  }

  header img{
    width: 100px
  }

  footer img{
    width: 150px;
  }

}
